@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Play:wght@400;700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Itim", cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #008080, #FF7F50);
    color: white;
    padding-top: 9%;
    padding-left: 9%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 30px;
    margin-right: 9px;
}
.container button{
    display: flex;
    align-items: center;
    background: #001F54;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 9px 18px;
    border-radius: 45px;
    margin: 30px 0 21px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: black;
    padding: 15px;
    margin: 20px 0;
    outline: none;
    border: 0;
    border-radius: 6px;
}
.input-box img{
    width: 24px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}








